body {
    background: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.navbar-nav {
    margin-left: 45%;
     

}

.nav-container {
    padding-left: 15%;
    padding-right: 15%;
    background: #4475C1;


}

.hero-section {
    color: #ffff;
    text-align: center;
    padding: 120px 0;
    background: #020024;
    background: linear-gradient(135deg, #1e40af, #60a5fa);
    position: relative;
    overflow: hidden;


}

.hero-section ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c")no-repeat center/cover;
    opacity: 0.1;
    z-index: 0;
}

.hero-section h1 {
    font-size: 3.2rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
}

.section-tittle {
    font-size: 2.3rem;
    font-weight: 600;
    color: #1e40af;
    margin-bottom: 20px;
}

.skill-card img {
    width: 50px;
    height: 50px;
    text-align: center !important;

}

.skill-card {
    align-items: center;
    padding: 15px;


}
.about-card{
    background: rgb(190, 197, 201);
}
  
.project-card{
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.contact-form{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
 

.footer-section{
     background: #4475C1;

}
        
.experience-card{
    display: flex;
    
}
.fab{
    font-weight: 600;
    color: white;

}
.skill-card,.project-card,.experience-card{
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    overflow: hidden;
    justify-content: space-between;
     
}
.skill-card:hover,
.project-card:hover,
.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}